[flake8]
exclude = .git
max-line-length = 88
ignore =
    E203,   # Black default for colon/whitespace handling...
    E501,   # Line length issues... black takes care of code, but comments/markdown are not handled
    W503,   # Line break before binary operatorflake8(W503)
    E722
per-file-ignores =
    */__init__.py: F401
